/*======= Start Global Rules =======*/
* {
    box-sizing: border-box;
		margin: 0px;
		padding: 0px;
}

:root {
    scroll-behavior: smooth;
}

body {
  font-family: 'harry p', sans-serif;
	--main-color : #740001;
	--font-color: #D3A625;
	--transparent-color:#d3a42577;
	--arrow-color: #dddddd;
	background-color:white;
	--padding-section:60px;
	--overlay-color:rgba(0 0 0 / 60%);
}

ul {
	list-style: none;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.specialheading {
	text-align: center;
	font-family: 'open sans';
}

.specialheading h1 {
	color: var(--font-color);
    font-size: 50px;
	font-weight: normal;
    margin-bottom: 60px;
    position: relative;
	font-family: 'opensans';
	text-transform: uppercase;
}

.specialheading h1::after {
	content: '';
	position: absolute;
	width: 40%;
	margin: auto;
	height: 2px;
	left: 50%;
	bottom: -20px;
	background-color: var(--font-color);
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.specialheading h1::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	left: 50%;
	bottom: -29px;
	background-color: white;
	z-index: 2;
	border: 2px solid;
	border-color: var(--font-color);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.specialheading p {
	color: var(--font-color);
	font-size: 17px;
	line-height: 1.5;
	margin-bottom: 100px;
}

/*======= Small =======*/
@media (min-width:768px) {
	.container {
				width: 750px;
	}
}

/*======= Medium =======*/
@media (min-width:992px) {
	.container {
		width: 970px;
	}
}

/*======= Large =======*/
@media (min-width:1200px) {
	.container {
		width: 1170px;
	}
}
/*======= End Global Rules =======*/

/*======= Start Header ======= */
header {
	position: absolute;
	width: 100%;
	left: 0px;
	z-index: 3;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

header .container::before {
	content: "";
	position: absolute;
	height: 1px;
	background-color: white;
	width: calc(100% - 30px);
	bottom: 0px;
	left: 15px;
}

header .container img {
	height: 90px;
}

@media (max-width:767px) {
	header .container img {
		height: 70px;
	}
}

header .container nav {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header .container nav .toggle-menu {
	color: white;
	font-size: 22px;
	padding: 40px 0px;
}

@media (min-width:768px) {
	header .container nav .toggle-menu {
		display: none;
	}
}

header .container nav ul {
	display: flex;
}

@media (max-width:767px) {
	header .container nav ul {
		display: none;
	}
	header .container nav .toggle-menu:hover + ul {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0px;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.705);
		color: white;
	}
	header .container nav .toggle-menu:hover + ul a {
		padding: 15px;
	}
}

header .container nav ul a {
	text-decoration: none;
	padding: 40px 10px;
	display: block;
	color:white;
	font-size: 25px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	position: relative;
	z-index: 2;
}

header .container nav ul a::after {
	content: '';
	width: 100%;
	height: 1px;
	background-color: var(--font-color);
	position: absolute;
	top:calc(100% - 1px);
	left: 0px;
	opacity: 0;
	z-index: 3;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
}

header .container nav .form {
	width: 40px;
	height: 30px;
	border-left: 1px solid white;
	position: relative;
	margin-left: 30px;
}

header .container nav .form i {
	font-size: 20px;
	position: absolute;
	right: 0px;
	top: 50%;
	color: white;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

header nav ul li a:hover::after,
header nav ul li a:hover {
	color: var(--font-color);
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}
/*======= End Header ======= */

/*======= Start slideshow-container ======= */
.slideshow-container {
	/* background-image: url(../images/wallpaperdumpldor.jpg); */
	min-height: 100vh;
	background-size:cover;
	position: relative;
}

.slideshow-container .mySlides {
	position: absolute;
	width: 100%;
	font-family: 'opensans';
	display: flex;
	justify-content: flex-end;
	left: 0px;
	top: 50%;
	background-color: var(--transparent-color);
	color: white;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.slideshow-container .mySlides img {
	width: 100%;
}

.slideshow-container .mySlides .content {
	max-width: 600px;
	position: absolute;
	top: 330px;
	background-color: #d3a425bf;
	padding: 50px;
	left: 50px;
}

@media (max-width:767px) {
	.slideshow-container .mySlides {
		width: 100%;
	}
}

.slideshow-container .mySlides h2{
	font-size: 32px;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 20px;
}

.slideshow-container .mySlides p {
	font-size: 16px;
	line-height: 2;
}

@media(max-width:767px) {
	.slideshow-container .mySlides h2 {
		line-height: 1.2;
		font-size: 32px;
		font-weight: 500;
		margin-bottom: 15px;
		padding-top: 0px;
	}
	.slideshow-container .mySlides p {
		font-size: 14px;
		line-height: 1.5;
	}
}

.slideshow-container .arrow i:first-child {
	color:var(--arrow-color);
	z-index: 6;
	position: absolute;
	font-size: 30px;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.slideshow-container .arrow i:last-child {
	color:var(--arrow-color);
	z-index: 6;
	position: absolute;
	font-size: 30px;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

@media (max-width:767px) {
	.slideshow-container .arrow {
		display: none;
	}
}

.slideshow-container .arrow i{
	transition: .3s linear;
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	-ms-transition: .3s linear;
	-o-transition: .3s linear;
}

.slideshow-container .arrow i:hover {
	color: var(--font-color);
	cursor: pointer;
	font-size: 35px;
}

.slideshow-container .circle {
	position: absolute;
	left: 50%;
	z-index: 5;
	bottom: 30px;
	display: flex;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.slideshow-container .circle span {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border: 1px solid white;
	justify-content: space-between;
	margin-left: 10px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.slideshow-container .circle span:hover {
	background-color: var(--font-color);
	cursor: pointer;
}
/*======= End slideshow-container ======= */

/*======= Start Services ======= */
.services {
	padding-top: var(--padding-section);
	padding-bottom: var(--padding-section);
}

.services .services-content {
	display: grid;
	grid-template-columns: repeat( auto-fill, minmax(500px,1fr));
	grid-gap:0px 30px;
	justify-content: space-between;
}

.services-content .col .ser {
	margin-bottom: 40px;
	display: flex;
	height: 200px;
	padding: 50px 20px;
	color: var(--font-color);
	font-family: 'opensans';
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.services-content .col  .lastser {
	margin-bottom: 0px;
}

.services-content .col .ser:hover {
	background-color: var(--main-color);
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	cursor: pointer;
}

@media(max-width:767px) {
	.services-content .col .ser {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-bottom: 50px;
	}
	.services .services-content {
		display: grid;
		grid-template-columns: repeat( auto-fill, minmax(300px,1fr));
		grid-gap:0px 30px;
		justify-content: space-between;
	}
}

.services-content .col .ser i {
	font-size: 50px;
	margin-bottom: 20px;
	flex-basis: 80px;
}

@media(max-width:750px) {
	.services-con .ser i {
		flex-basis: 60px;
	}
}

.services-content .col .ser .text {
	flex: 1;
}

.services-content .col .ser .text h3 {
	margin-top: 0px;
	font-size: 40px;
	margin-bottom: 15px;
}

.services-content .col .ser .text p {
	font-size: 15px;
	line-height: 1.5;
}
/*======= End Services ======= */

/*======= Start Design Section ======= */
.design-section {
	padding-top: var(--padding-section);
	padding-bottom: var(--padding-section);
	background-image: url(../images/train.jpg);
	background-size: cover;
	min-height: 100vh;
	position: relative;
}

.design-section .overlay {
	width: 100%;
	height: 100%;
	background-color: var(--overlay-color);
	position: absolute;
	top: 0px;
	left: 0px;
}

.design-section .text {
	position: absolute;
	color: white;
	font-family: 'Open Sans';
	background-color: var(--transparent-color);
	right: 0px;
	width: 50%;
	padding: 40px 50px;
	top: 50%;
	transform: translateY(-50%);
}

@media(max-width:767px) {
	.design-section .text {
		width: 100%;
	}
}

.design-section .text h3 {
	font-size: 32px;
	margin-bottom: 40px;
	font-weight: 800;
}

.design-section .text .icon-line {
	display: flex;
	margin-bottom: 20px;
}

.design-section .text .icon-line i {
	font-size: 20px;
	margin-right: 20px;
}
/*======= End Design Section ======= */

/*======= Start Portfolio ======= */
.portfolio {
	padding-top: var(--padding-section);
	padding-bottom: var(--padding-section);
	position: relative;
}

.portfolio .bar {
	display: flex;
	position: absolute;
	font-family: 'opensans';
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

@media(max-width:767px) {
	.portfolio .bar span {
		padding: 5px;
		margin: auto;
	}
}

.portfolio .bar span {
	padding: 10px;
	color: var(--font-color);
	position: relative;
	cursor: pointer;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	font-size: 1.3em;
	font-weight: bold;
}

.portfolio .bar span::after {
	content: '';
	position: absolute;
	width: 100%;
	background-color: var(--font-color);
	height: 1px;
	left: 0px;
	bottom: 0px;
	opacity: 0;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transform: scalex(0);
	-webkit-transform: scalex(0);
	-moz-transform: scalex(0);
	-ms-transform: scalex(0);
	-o-transform: scalex(0);
}

.portfolio .bar span:hover::after {
	opacity: 1;
	transform: scalex(1);
	-webkit-transform: scalex(1);
	-moz-transform: scalex(1);
	-ms-transform: scalex(1);
	-o-transform: scalex(1);
}

.portfolio .bar span:hover {
	font-size: 1.5em;
}

.portfolio .images-con {
	display: flex;
	margin-top: 200px;
	flex-wrap: wrap;
	background-color: var(--main-color);
	padding: 20px;
}

.portfolio .images-con .box {
	position: relative;
	overflow: hidden;
}

@media (min-width:768px) {
	.portfolio .images-con .box {
		flex-basis: 40%;
		margin: auto;
		border: 10px solid var(--font-color);
		margin-bottom: 10px;
	}
}
@media (min-width:1199px) {
	.portfolio .images-con .box {
		flex-basis: 24%;
		border:none;
	}
	.portfolio .images-con {
		background-color: var(--font-color);
	}
}

@media (max-width:767px) {
	.portfolio .images-con .box {
		flex-basis: 80%;
		margin: auto;
		margin-bottom: 10px;
	}
}

.portfolio .images-con .box img {
	width: 100%;
	transition: .3s linear;
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	-ms-transition: .3s linear;
	-o-transition: .3s linear;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.portfolio .images-con .box:hover img {
	transform: rotate(3deg) scale(1.1);
	-webkit-transform: rotate(3deg) scale(1.1);
	-moz-transform: rotate(3deg) scale(1.1);
	-ms-transform: rotate(3deg) scale(1.1);
	-o-transform: rotate(3deg) scale(1.1);
	cursor: pointer;
}

.portfolio .images-con .caption {
		text-align: center;
		color: var(--main-color);
		background-color: var(--font-color);
		font-family: 'opensans';
		padding: 10px;
		position: absolute;
		bottom: -100%;
		transition: .3s;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		-ms-transition: .3s;
		-o-transition: .3s;
		width: 100%;
		overflow: hidden;
}

@media (max-width:767px) {
	.portfolio .images-con .caption {
		bottom: -100%;
	}
}

.portfolio .images-con .box:hover .caption {
	bottom: 0px;
	transform: scaley(1);
	-webkit-transform: scaley(1);
	-moz-transform: scaley(1);
	-ms-transform: scaley(1);
	-o-transform: scaley(1);
}

.portfolio .images-con .caption h4 {
	font-size: 25px;
	margin-bottom: 10px;
}

.portfolio .images-con .caption p {
	font-size: 18px;
}

.portfolio .more {
	margin-top: 20px;
	background-color: var(--font-color);
	color: white;
	font-size: 20px;
	padding: 20px;
	position: absolute;
	font-family: 'opensans';
	text-align: center;
	left: 50%;
	cursor: pointer;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	text-decoration: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
/*======= End Portfolio ======= */

/*======= Start Video ======= */
.video {
	margin-top: 100px;
	position: relative;
}
.video video {
	width: 100%;
}
/*======= End Video ======= */

/*======= Start About ======= */
.about {
		padding-top: var(--padding-section);
		position: relative;
		min-height: 100vh;
		width: 100%;
		overflow: hidden;
}

.about  img {
	position: relative;
	left: 50%;
	bottom: -10px;
	margin-top: -10px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	max-width: 100%;
}
/*======= End About ======= */

/*======= Start stats ======= */
.stats {
    background-image: url(../images/gryffindor.jpg);
    background-size: cover;
    text-align: center;
    margin-top: -70px;
    position: relative;	
	padding-top: var(--padding-section);
	padding-bottom: var(--padding-section);
	font-family: 'opensans';
}

.stats::before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: var(--overlay-color);
	position: absolute;
	top: 0px;
	left: 0px;
}

.stats .container {
	display: flex;
	flex-wrap:wrap;
	position: relative;
	align-items: center;
	height: 100vh;
	justify-content: center;
}

.stats .container .box {
	padding: 25px;
	color: white;
	background-color: var(--transparent-color);
}

.stats .container .box i {
	font-size: 30px;
	margin: 0px 0px 10px;
}

.stats .container .box div {
	font-size: 40px;
	margin-bottom: 5px;
}

.stats .container .box p {
	font-size: 15px;
}

@media (min-width:767px) , (max-width:992px) {
	.stats .container .box {
		flex-basis: 50%;
	}
	.stats .container {
		align-content: center;
	}
}

@media (max-width:767px) {
	.stats .container .box {
		flex-basis: 100%;
	}
}

@media (min-width:992px) {
	.stats .container .box {
		flex-basis: 50%;
	}
	.stats .container {
		align-content: center;
	}
}
@media (min-width:1199px) {
	.stats .container .box {
		flex-basis: 25%;
	}
}
/*======= End stats ======= */

/*======= Start Characters Information ======= */
.char-info {
	padding-top: var(--padding-section);
	padding-bottom: var(--padding-section);
	font-family: 'opensans';
}

.char-info .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media (min-width:992px) {
	.char-info .container > div {
		flex-basis: 45%;
	}
}

.char-info .container > div > h3 {
	text-align: center;
    color: var(--font-color);
    font-size: 25px;
    margin: 0px 0px 20px;
}
.char-info .container > div > p {
	text-align: center;
    font-size: 16px;
    color: #d3a6259c;
    font-weight: bold;
	margin-bottom: 70px;
}

.char-info .container .content {
	display: flex;
	margin-bottom: 50px;
	position: relative;
	align-items: center;
}

.char-info .container .content:first-of-type::after {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: -24.5px;
	background-color: var(--font-color);
}

.char-info .container .content img {
	width: 120px;
	height: 120px;
    border-radius: 50%;
    outline: 5px solid var(--font-color);
	margin-right: 30px;
}

@media (max-width:767px) {
	.char-info .container .content {
		flex-direction: column;
		text-align: center;
		margin-bottom: 100px;
	}
	.char-info .container .content img {
		margin: 0px auto 20px;
	}
	.char-info .container .content:first-of-type::after {
		display: none;
	}
}

.char-info .container .content .text {
	font-size: 16px;
    color: var(--font-color);
    line-height: 1.4;
}

.char-info .container .content .text p {
	position: absolute;
	right: 0px;
	margin-top: 10px;
	font-weight: bold;
}

.char-info .container .bullets {
	display: flex;
	margin: auto;
	width: 70px;
	height: 60px;
}

.char-info .container .bullets li {
	width: 20px;
	height: 20px;
	border: 2px solid var(--font-color);
	border-radius: 50%;
	margin-right:5px ;
	transition: .3s linear;
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	-ms-transition: .3s linear;
	-o-transition: .3s linear;
	cursor: pointer;
}

.char-info .container li:hover {
	background-color: var(--font-color);
}

.char-info .container .skills .prog-holder {
    margin-bottom: 40px;
}

.char-info .container .skills .prog-holder h4 {
	font-weight: bold;
    font-size: 18px;
    color: var(--font-color);
    margin-bottom: 10px;
}

.char-info .container .skills .prog-holder .prog {
	background-color: #eee;
	width: 100%;
	height: 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.char-info .container .skills .prog-holder .prog span {
	background: var(--font-color);
	display: block;
	height: 100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	position: relative;
}
.char-info .container .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: var(--font-color);
    color: white;
    padding: 8px;
    right: -20px;
    top: -50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.char-info .container .skills .prog-holder .prog span::after {
	content: '';
    position: absolute;
    border: 8px solid;
    border-color: var(--font-color) transparent transparent;
    top: -16px;
    right: -6px;
}
/*======= End Characters Information ======= */

/*======= Start Classes ======= */
.classes {
	padding-top: var(--padding-section);
	padding-bottom: var(--padding-section);
	font-family: 'opensans';
}

.classes .container .images {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: space-between;
}

.classes .images .box {
	margin: auto;
}

@media (min-width:768px) {
	.classes .images .box {
		flex-basis: 40%;
		margin: auto;
	}
}

@media (min-width:1199px) {
	.classes .images .box {
		flex-basis: 23%;
		margin-left: 10px;
	}
}

@media (max-width:767px) {
	.classes .images .box {
		flex-basis: 80%;
		margin: auto;
	}
}

.classes .container .images img {
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	outline: 5px solid var(--font-color);
	transition: .3s linear;
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	-ms-transition: .3s linear;
	-o-transition: .3s linear;
}

@media (max-width:1199) {
	.classes .container .images img {
		flex-basis: 25%;
	}
}

.classes .container .images img:hover {
	transform: translateY(-20px) scale(1.05);
	-webkit-transform: translateY(-20px) scale(1.05);
	-moz-transform: translateY(-20px) scale(1.05);
	-ms-transform: translateY(-20px) scale(1.05);
	-o-transform: translateY(-20px) scale(1.05);
	cursor: pointer;
}
/*======= End Classes ======= */

/*======= Star Pricing ======= */
.pricing {
	padding-top: var(--padding-section);
	padding-bottom: var(--padding-section);
	font-family: 'opensans';
}

.pricing .container .pricing-con {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pricing .container .pricing-con .box {
	flex-basis: 24%;
	padding: 35px 20px;
	background-color: var(--font-color);
	color: white;
	text-align: center;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	transition:.3s linear ;
	-webkit-transition:.3s linear ;
	-moz-transition:.3s linear ;
	-ms-transition:.3s linear ;
	-o-transition:.3s linear ;
	position: relative;
}

@media (max-width:767px) {
	.pricing .container .pricing-con .box {
		flex-basis: 70%;
		margin: auto;
		margin-bottom: 20px;
	}
}

@media (min-width:768px) {
	.pricing .container .pricing-con .box {
		flex-basis: 45%;
		margin: auto;
		margin-bottom: 20px;
	}
}

@media (min-width:1199px) {
	.pricing .container .pricing-con .box {
		flex-basis: 24%;
		margin: auto;
		margin-bottom: 20px;
	}
}

.pricing .container .pricing-con .box .header {
	font-size: 30px;
    margin-bottom: 15px;
	margin-top: 15px;
}

.pricing .container .pricing-con .box .number {
	font-size: 50px;
    margin-bottom: 50px;
}

.pricing .container .pricing-con .box p {
    padding: 20px 0px;
    font-size: 20px;
    border-bottom: 1px solid;
}

.pricing .container .pricing-con .box button {
	color: var(--font-color);
	background: white;
	border: none;
	padding: 20px;
	font-weight: bold;
	border-radius: 15px;
	margin-top: 20px;
	margin-bottom: 15px;
	transition:.3s linear ;
	-webkit-transition:.3s linear ;
	-moz-transition:.3s linear ;
	-ms-transition:.3s linear ;
	-o-transition:.3s linear ;
}

.pricing .container .pricing-con .box button:hover {
	background:none;
	color: white;
	outline: 1px solid white;
	cursor: pointer;
}

.pricing .container .contact-us {
	margin-top: 50px;
    text-align: center;	
}
.pricing .container .contact-us p {
	font-size: 25px;
    margin-bottom: 20px;
    color: var(--font-color);
    font-weight: bold;
}
.pricing .container .contact-us button {
	font-size: 20px;
	border: none;
	padding: 15px;
	margin-top: 10px;
	background-color: var(--font-color);
	color: white;
	transition: .3s linear;
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	-ms-transition: .3s linear;
	-o-transition: .3s linear;
}

.pricing .container .contact-us button:hover {
	background: none;
	color: var(--font-color);
	outline: 1px solid var(--font-color);
	cursor: pointer;
}
/*======= End Pricing ======= */

/*======= Start Email ======= */
.email {
	padding-top: var(--padding-section);
	padding-bottom: var(--padding-section);
	font-family: 'opensans';
	background-image: url(../images/subscribe.jpg);
	background-size: cover;
	position: relative;
	color: white;
}

.email::before {
	content: '';
	position:absolute;
	left: 0px;
	top: 0px;
	background-color: var(--overlay-color);
	height: 100%;
	width: 100%;
}

.email .container {
	position: relative;
	display: flex;
	align-items: center;
}

@media (max-width:991px) {
	.email .container {
		flex-direction: column;
	}
}

.email form {
	width: 500px;
	max-width: 100%;
	display: flex;
	position: relative;
}
.email form i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 20px;
	font-size: 23px;
	color: var(--font-color);
}
.email form input[type="email"]{
	padding: 20px 20px 20px 60px;
    border: 1px solid var(--font-color);
    background: none;
    caret-color: var(--font-color);
	outline: none;
	color: var(--font-color);
	width: calc(100% - 130px);
}
.email form input[type="submit"] {
	width: 130px;
    border: 1px solid var(--font-color);
    background-color: var(--font-color);
    color: white;
    font-size: 19px;
}

.email form input[type="submit"]:hover {
	cursor: pointer;
}

.email form ::placeholder {
	color: white;
}

.email p {
    font-size: 17px;
	margin-left: 50px;
	line-height: 2;
}

@media (max-width:991px) {
	.email p {
		margin: 30px;
	}
}
/*======= End Email ======= */

/*======= Start Contact ======= */
.contact {
	padding-top: var(--padding-section);
	padding-bottom: var(--padding-section);
	font-family: 'opensans';
}

.contact .contact-con {
	display: flex;
	justify-content: space-between;
}

@media (max-width:768px) {
	.contact .contact-con {
		flex-direction: column-reverse;
		text-align: center;
	}
	.contact .contact-con .side-info {
		margin-bottom: 50px;
	}
}

.contact .contact-con form {
	flex-basis: 70%;
}
.contact .contact-con form .main-input {
	padding: 20px;
	display: block;
	border: 1px solid var(--font-color);
	margin-bottom: 30px;
	width: 100%;
	outline: none;
	caret-color: var(--font-color);
	color: var(--font-color);
}

.contact .contact-con form .main-input::placeholder {
	color: var(--font-color);
}

.contact .contact-con form textarea.main-input {
	height: 200px;
}

.contact .contact-con form input[type="submit"] {
	font-size: 20px;
    padding: 20px;
    border: none;
    outline: none;
    background-color: var(--font-color);
    color: white;
    font-weight: bold;
    right: 0px;
	cursor: pointer;
	display: flex;
	margin-left: auto;
}

.contact .contact-con .side-info {
	flex-basis: 25%;
}

.contact .contact-con .side-info h4 {
	font-size: 25px;
	color: var(--font-color);
    margin-bottom: 25px;
}

.contact .contact-con .side-info h4:nth-of-type(2) {
    margin-top: 70px;
}

@media (max-width:768px) {
	.contact .contact-con .side-info h4:nth-of-type(2){
		margin-top: 40px;
	}
}

.contact .contact-con .side-info .phone {
	display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--font-color);
}

.contact .contact-con .side-info address {
	margin-bottom: 10px;
    font-size: 20px;
    color: var(--font-color);
	line-height: 1.5;
}
/*======= End Contact ======= */

/*======= Start Footer ======= */
.footer {
	padding-top: var(--padding-section);
	padding-bottom: var(--padding-section);
	font-family: 'opensans';
	background-image: url(../images/hogwarts-legacy.jpg);
	background-size: cover;
	max-width: 100%;
	position: relative;
}

.footer::before {
	content: '';
	position:absolute;
	left: 0px;
	top: 0px;
	background-color: var(--overlay-color);
	height: 100%;
	width: 100%;
}

.footer .container {
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer .logo {
	width: 100px;
}

.footer .social-con {
	text-align: center;
    margin-top: 70px;
	max-width: 100%;
}

.footer .social-con p {
	font-size: 30px;
    margin-bottom: 20px;
    color: var(--font-color);
    font-weight: bold;
}

.footer .social-con .icon {
	display: flex;
    margin: auto;
	justify-content: center;
}

.footer .social-con .icon a {
	width: 40px;
	height: 40px;
	background-color: var(--font-color);
	margin: 5px;
	justify-content: center;
	align-items: center;
	display: flex;
	text-decoration: none;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transition: .3s linear;
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	-ms-transition: .3s linear;
	-o-transition: .3s linear;
}

.footer .social-con .icon a:hover {
	transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
}

.footer .social-con .icon a i{
	font-size: 20px;
	color: white;
}

.footer .social-con .by {
	margin-top: 45px;
    font-size: 18px;
    color: var(--font-color);
}
/*======= End Footer ======= */
/*======= Start Sticky =======*/
.sticky {
    width: 50px;
    height: 50px;
    position: sticky;
    background: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    bottom: 40px;
    margin-right: 20px;
}

.sticky a i {
    font-size: 30px;
    color: white;
}
/*======= End Sticky =======*/
